{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/hmpo/question6" class="no-back-link">Back</a>    <span class="example-back-link">Submit</span>

  <h1 class="heading-medium">
      Confirmation
    </h1>

    <section>
<h3 class="heading-medium">My details</h3>
<table class="table-summary">
<tbody>
<tr>
<th class="table-summary-title" scope="row">Name</th>
<td class="table-summary-content">John Smith</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Email address</th>
<td class="table-summary-content">john@smith.com</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Telephone</th>
<td class="table-summary-content">01923 675456</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Address</th>
<td class="table-summary-content">1 Church Lane, Westbere, Canterbury, Kent CT2 0HA United Kingdom</td>
</tr>
</tbody>
</table>
</section>

<section>
<h3 class="heading-medium">Details of query</h3>
<table class="table-summary">
<tbody>
<tr>
<th class="table-summary-title" scope="row">What</th>
<td class="table-summary-content">Birth certificate</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Name of person on certificate</th>
<td class="table-summary-content">John Smith</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Date of order</th>
<td class="table-summary-content">31 9 2014</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">How was order placed</th>
<td class="table-summary-content">Online (COL number TKY1234678K)</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Type of service</th>
<td class="table-summary-content">Standard</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Order number</th>
<td class="table-summary-content">WPG71723B</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Type of complaint</th>
<td class="table-summary-content">Service complaint</td>
</tr>
<tr>
<th class="table-summary-title" scope="row">Details of complaint</th>
<td class="table-summary-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure. (I have previously been in contact about this order.)</td>
</tr>
</tbody>
</table>
</section>


<p id="submit" class="submit-query">

<a href="" rel="external" class="button button-get-started" role="button">Submit query</a></p>

    </main>



 

{{/content}}

{{/layout}}

